# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Vim
.*.sw[a-z]
*.un~
Session.vim

# Temp directories
/tmp

# Input file and directories
/input
/inputs/
